
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


<main id="site-main">
        <h1 class="mb-3">Productos de la marca: <%= marca %></h1>
        <p class="mb-4">
            Descubre los productos de esta marca.
        </p>

    <div class="container-cards">
        <% products.forEach(p => { %>
            <div class="card">
                <img src="/img/arroz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= p.nombre %></h5>
                    <p class="card-text"><%= p.descripcion %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">$ <%= p.precio %></li>
                    <li class="list-group-item">Disponible</li>
                    <li class="list-group-item">Stock: <%= p.stock %></li>
                </ul>
                <div class="card-body">
                    <a href="/Detalles/<%= p._id %>" class="card-link">Ver Detalles</a>
                    <a href="/Carrito/<%= p._id %>" class="card-link">🛒Agregar</a>
                </div>
            </div>
        <% }) %>
    </div>

</main>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
