
<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->


<main id="site-main">
        <h1 class="mb-3">Productos de la marca <%= marca %></h1>
        <p class="mb-4">
            Descubre los productos de esta marca.
        </p>
    <div class="container mt-4">

        <!-- GRID -->
        <div class="products-grid">
            <% products.forEach(p => { %>
                <div class="card product-card">
                    <img src="/img/default-product.png" class="card-img-top" alt="producto">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= p.nombre %></h5>
                        <p class="card-text">$<%= p.precio %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</main>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
